.shop-thumbnail {
  width: 10rem;
}
.shop-container {
  position: relative;
  top: 10vh;
}

.shop-list {
  padding: 2rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.product-thumbnail-link {
  text-decoration: none;
  color: black;
}

.product-thumbnail-link,
.product-thumbnail {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.product-thumbnail {
  border: solid black 1px;
  padding: 2rem;
}

.quantity-input {
  width: 70px;
  text-align: center;
  margin: 0;
  -webkit-appearance: none;
}

@media (max-width: 768px) {
  .shop-thumbnail {
    width: 5rem;
  }
  .shop-list {
    padding: 2rem;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .product-thumbnail {
    border: solid black 1px;
    padding: 1rem;
  }
  .shop-container h3 {
    max-width: 100vw;
    font-size: 0.6rem;
  }
  .shop-container p {
    font-size: 0.6rem;
  }
  .quantity-input {
    font-size: 0.6rem;
    width: 50px;
  }
}
